body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Tahoma, Arial, sans-serif;

}

#page{
    width: 1890px;
    margin: auto;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#section_header_2_dark .container{
    background-color: rgb(51 51 51);
    height: 94px;

}

#section_header_2_dark .containerss{
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}

#section_header_2_dark .sr-only, .navbar-toggle.pix_text{
    display: none;
}

#section_header_2_dark ul{
    display: inline-flex;
}

.propClone{
    padding-right: 30px;
    font-size: 20px;
    color: yellow;
}

.propClone a {
    color: white;
}

#section_pix_4 .bgvid{
    width: 1890px;
    filter: brightness(50%);
}

#section_pix_4 .has-video.creative_header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#section_pix_4 .section_wrapper.clearfix{
    position: absolute;
    margin: 0px auto;

}

#section_pix_4 .section_wrapper.clearfix .container{
    text-align: center;
    height: 350px;
    width: 800px;
    color: white;

}

#section_pix_4 .section_wrapper.clearfix .container .title_style{
    padding-bottom: 20px;
}

#section_pix_4 .section_wrapper.clearfix .container .title_style .pix_text{
    font-size: 44px;
    font-weight: bold;

}

#section_pix_4 .section_wrapper.clearfix .container .subtitle_style{
    padding-bottom: 40px;
}

#section_pix_4 .section_wrapper.clearfix .container .subtitle_style .pix_text{
    font-size: 20px;
}

#section_pix_4 .section_wrapper.clearfix .container .editContent .pix_text{
    line-height: 2;
}

.email_subscribe.pix_builder_bg{
    background-color: black;
    width: 80%;
    margin: 0px auto;
    height: 80.33px;
}

#section_pix_4 .section_wrapper.clearfix .container .note_st{
    padding-top: 30px;
}

#section_pix_4 .section_wrapper.clearfix .container .creative_note .pix_text{
    font-size: 20px;
}

.contact_form{
    height: 100%;
    padding: 20px;
}

#subscribe_btn_1, .email{
    padding: 5px;
}

#subscribe_btn_1{
    font-size: 24px;
    float: right;
    width: 45%;
    background-color: #f1c232;
    color: white;
}
#section_pix_4 .email{
    font-size: 24px;
    float: left;
    width: 50%;
}

/*het video*/
#hidden_pix_1, #hidden_pix_6{
    display: none;
}

#section_university_5 .container .sixteen.columns{
    margin-top: 20px;
    display: flex;
    font-size: 30px;
    height: 600px;
}
.ten.columns.alpha{
    flex: 60%;
    margin-left: 200px;
}
.six.columns.omega{
    flex: 40%;
}

.icon_st{

    margin: 5px 40px;
}

.icon_st img{
    width: 200px;
}

.substyle.pix_builder_bg{
    width: 425px;
    background-color: #ebeaea;
}
#contact_form{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#submit_btn_6{
    width: 373.66px;
    height: 52px;
    margin-bottom: 10px;
    color: white;
    background-color: #7cc576;
    border: none;

}
#name, .email, #number{
    width: 350px;
height: 20px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

#countries{
    width: 373.66px;
    height: 45px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    color: rgb(117 117 117);
}
#submit_btn_6{
    background: rgba(13,139,9,0.56);
}
.six.columns.omega .substyle.pix_builder_bg .title-style .editContent .pix_text{
    font-size: 30px;
    padding-left: 20px;
    line-height: 70px;
}
.six.columns.omega .substyle.pix_builder_bg .text-style .editContent .pix_text{
    padding-left: 20px;
    font-size: 16px;
}
br{
    height: 20px;
}
.psingle_item{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.text_st{
    width: 700px;

}

.title_st.editContent{
    margin: 0px;
    font-weight: normal;

}

.subject_st.editContent{
     font-weight: normal;
    margin: 30px 0px;
    font-size: 24px;
 }
#section_ecourse_7{
    background-color: #f6f6f6;
}

#section_ecourse_7 .container{
    padding-top: 15px;
}

.sixteen.columns.bg_foot{
    display: flex;
    justify-content: center;
    font-size: 16px;
}
.seven.columns.alpha{
    width: 600px;
    display: flex;
    justify-content: center;
    margin-right: 465px;
}
.seven.columns.alpha .editContent{
    padding: 15px;
}

.nine.columns.omega{
    margin-right: 65px;
}

.socbuttons{
    display: flex;
    flex-direction: row-reverse;
}
.socbuttons .likes_st{
    padding: 15px;
}

.socbuttons .soc_icons.pix_builder_bg{
    background-color: #e9e9e9;
    margin-bottom: 15px;
    height: 50px;
}

.socbuttons .soc_icons.pix_builder_bg .bottom-icons{
    padding-left: 0px;
}

.socbuttons .soc_icons.pix_builder_bg .bottom-icons li {
    display: inline-block;
    list-style: none;
    padding: 0 10px 10px 10px;


}
.socbuttons .soc_icons.pix_builder_bg .bottom-icons li a{
    color: #b2b2b2;
}

.container{
    width: 1890px;
}